BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
PointerAlignment: Left
ReferenceAlignment: Left
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: InlineOnly
